<settings>
  <category label="Información LReylist">
       	<setting id="Updatecommonresolvers" label="Update Commonresolver from Genesis" type="bool" default="true" visible="false"/>
    	<setting type="lsep" label="Versión del Addon 1.0.6 Actualizado 30/05/2016" option="close" action="RunPlugin(plugin://plugin.video.LReylist/?mode=7)" />
        <setting type="lsep" label="Facebook: https://www.facebook.com/lorenzo.rey.7" option="close" action="RunPlugin(plugin://plugin.video.LReylist/?mode=7)" />
        <setting type="lsep" label="Twitter: @lorenzo1039" option="close" action="RunPlugin(plugin://plugin.video.LReylist/?mode=7)" />
		<setting type="lsep" label="Email: lorenzo1039@gmail.com" option="close" action="RunPlugin(plugin://plugin.video.LReylist/?mode=7)" />
		<setting type="lsep" label="Foro: http:LRey.foroactivo.com" option="close" action="RunPlugin(plugin://plugin.video.LRelist/?mode=7)" />
 </category>
		
  <category label="Configuración General">
        <setting type="lsep" label="Para resetear el addon" option="close" action="RunPlugin(plugin://plugin.video.LReylist/?mode=7)" />
        <setting type="lsep" label="POR DEFECTO y luego en OK" option="close" action="RunPlugin(plugin://plugin.video.LReylist/?mode=7)" />
		<setting id="ask_playlist_items" type="bool" label="Elegir Fuente de Video" default="true" visible="false"/>
        <setting id="add_playlist" type="bool" label="Activar Multilink" default="true" visible="false"/>
        <setting id="genesisorpulsar" type="enum" values="Genesis|Pulsar" label="Play IMDBid with:" default="Genesis"visible="false"/>
        <setting id="donotshowbychannels" label="Ocultar Canales" type="bool" default="false" visible="false"/>
  </category>
</settings>
